doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        script(src="js/main.js")
    body.antialiased.bg-body.text-body.font-body
        div


            section(class="relative pb-20 bg-blue-800 overflow-hidden")
                nav(class="relative py-8 px-4 xl:px-10 bg-blue-800")
                    div(class="flex justify-between items-center")
                        a(class="text-xl text-white font-semibold", href="#") Polarfox DEX
                        div(class="lg:hidden")
                            button(class="navbar-burger flex items-center p-3 rounded")
                                svg(class="text-white block h-4 w-4", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg", fill="currentColor")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:w-auto lg:space-x-10")
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") DEX
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") About
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") Vision
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") Launchpad
                        div(class="hidden lg:block")
                            a(class="inline-block py-3 px-8 text-sm text-white hover:text-blue-50 uppercase font-semibold border-2 border-white", href="#") Connect Wallet
                div(class="relative pt-12 md:pt-0")
                    div(class="absolute top-0 bottom-0 -left-1/4 -right-1/4 flex items-center justify-center")
                        h2(class="stroke opacity-75") POLARFOX
                    div(class="container px-4 mx-auto")
                        div(class="relative flex flex-wrap items-center -mx-4")
                            div(class="relative z-10 w-full md:w-1/2 px-4 lg:py-32 mb-6 md:mb-0")
                                div(class="flex flex-wrap lg:flex-nowrap")
                                    div(class="mb-6 lg:mb-0 lg:mt-32 lg:-mr-10")
                                        p(class="lg:transform lg:rotate-90 tracking-widest text-lg text-white uppercase") built on avalanche
                                    div
                                        h2(class="mb-8 text-4xl lg:text-6xl text-white font-bold") Decentralized Exchange on Avalanche
                                        a(class="inline-block w-full md:w-auto mb-2 md:mb-0 py-5 px-8 mr-6 text-center text-sm font-bold uppercase transition duration-200 bg-blue-200 hover:bg-blue-400", href="#") Earn PFX
                                        a(class="inline-block w-full md:w-auto py-5 px-8 text-center text-sm text-white font-bold uppercase border border-white hover:border-gray-50 transition duration-200 hover:bg-blue-400", href="#") When moon?
                            div(class="hidden md:block absolute top-0 right-0 w-full md:w-1/2 mr-10 px-4")
                                img(class="w-full h-80 lg:h-128 object-cover", src="images/polarfoxpdf.jpg", alt="")
                div(class="hidden navbar-menu relative z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blue-800 opacity-90")
                    nav(class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-8 bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-16 pr-6")
                            a(class="ml-16 mr-auto text-xl text-blue-800 font-semibold leading-none", href="#") Polarfox DEX
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") DEX
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") About
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Vision
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Launchpad
                        div(class="mt-auto px-10")
                            div(class="pt-6")
                                a(class="block py-4 text-center text-blue-800 leading-normal uppercase border-2 border-blue-800 hover:bg-blue-50 font-semibold", href="#") Connect Wallet
                            p(class="mt-6 mb-4 text-sm text-center text-blue-400")
                                span  2021 All rights reserved  Polarfox Labs. 


            section(class="relative lg:pb-48 bg-blue-800 lg:bg-white")
                div(class="hidden lg:block absolute top-0 bottom-0 mb-24 inset-x-0 z-10 triangle-bottom bg-blue-800")
                div(class="relative z-10 pt-12 lg:pt-20")
                    div(class="px-4 text-center mb-16")
                        div(class="w-full lg:w-9/12 mx-auto")
                            div(class="max-w-4xl mx-auto")
                                h2(class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-white") community ecosystem.
                                p(class="max-w-xl mx-auto mb-10 text-lg text-white") we create financial instruments on AVAX that interact with social instruments to benefit our community.
                                a(class="inline-block w-full md:w-auto py-5 px-8 text-sm font-bold uppercase bg-blue-100 hover:bg-blue-400 text-grey-800 transition duration-200", href="#") READ WHITEPAPER
                    div(class="max-w-5xl mx-auto bg-white border border-blue-200 bg-blue-50")
                        div(class="flex flex-wrap")
                            div(class="w-full lg:w-1/3 py-10 px-8 text-center border-b lg:border-b-0 lg:border-r border-blue-200")
                                svg(class="mx-auto mb-4 text-blue-500 w-8 h-8", viewbox="0 0 32 33", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                                    g(clip-path="url(#clip0)")
                                        path(d="M16 0.585571L0 16.3722L16 32.1589L32 16.3722L16 0.585571ZM3.7708 16.3722L16 4.30609L21.172 9.40913L19.2864 11.2696L16 8.0278L7.5428 16.3722L10.828 19.6148L8.9424 21.4753L3.7708 16.3722ZM20.6876 16.3722L16 20.9985L11.3136 16.3722L16 11.7483L20.6876 16.3722ZM10.828 23.3357L12.7136 21.4753L16 24.7167L24.4584 16.3722L21.172 13.1297L23.0576 11.2692L28.2292 16.3722L16 28.4384L10.828 23.3357Z")
                                    defs
                                        clippath#clip0
                                            rect(width="32", height="32", fill="white", transform="translate(0 0.638916)")
                                h3(class="mb-1 text-lg text-blue-800 font-semibold uppercase") Governance
                                p(class="text-gray-500") Polarfox is a community-driven DAO, empowering the development of our DEX.
                            div(class="w-full lg:w-1/3 border-b lg:border-b-0 lg:border-r border-blue-200")
                                div(class="py-10 px-8 text-center")
                                    svg(class="mx-auto mb-4 text-blue-500 w-8 h-8", viewbox="0 0 32 33", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M17.3333 0V2.66556C24.0733 3.33474 29.3333 9.01918 29.3333 15.9328C29.3333 22.8453 24.0733 28.5293 17.3333 29.1985V31.8657C25.5457 31.1877 32.0001 24.3183 32.0001 15.9328C32.0001 7.54619 25.5457 0.679536 17.3333 0Z")
                                        path(d="M14.6668 29.1985C7.9296 28.5293 2.6668 22.8453 2.6668 15.9328C2.6668 9.01958 7.9296 3.33474 14.6668 2.66556V0C6.456 0.679536 0 7.54619 0 15.9328C0 24.3183 6.456 31.1877 14.6668 31.8657V29.1985Z")
                                        path(d="M8.12006 14.6052C8.75526 10.8383 12.0365 7.9664 16.0001 7.9664C19.9637 7.9664 23.2449 10.8383 23.8801 14.6052H26.5741C25.9181 9.36689 21.4405 5.31079 16.0001 5.31079C10.5625 5.31079 6.08326 9.36689 5.42566 14.6052H8.12006Z")
                                        path(d="M23.88 17.2604C23.2448 21.0258 19.9636 23.8993 16 23.8993C12.0364 23.8993 8.75522 21.0258 8.12002 17.2604H5.42603C6.08323 22.4988 10.5624 26.5549 16 26.5549C21.4404 26.5549 25.918 22.4988 26.5744 17.2604H23.88Z")
                                        path(d="M15.9999 10.622C13.0547 10.622 10.6667 13 10.6667 15.9328C10.6667 18.8657 13.0547 21.2436 15.9999 21.2436C18.9463 21.2436 21.3331 18.8657 21.3331 15.9328C21.3331 13 18.9463 10.622 15.9999 10.622ZM15.9999 18.5884C14.5271 18.5884 13.3331 17.3994 13.3331 15.9328C13.3331 14.4662 14.5271 13.2772 15.9999 13.2772C17.4739 13.2772 18.6667 14.4662 18.6667 15.9328C18.6667 17.3994 17.4739 18.5884 15.9999 18.5884Z")
                                    h3(class="mb-1 text-lg text-blue-800 font-semibold uppercase") Fair &amp; Open
                                    p(class="text-gray-500") 100% fair distribution model. Liquidity providers to the DEX earn the native token PFX.
                            div(class="w-full lg:w-1/3 py-10 px-8 text-center")
                                svg(class="mx-auto mb-4 text-blue-500 w-8 h-8", viewbox="0 0 30 30", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M15 0.043335H0.333374V14.9056C0.333374 23.1132 6.90037 29.7678 15 29.7678H29.6667V14.9056C29.6667 6.6979 23.0997 0.043335 15 0.043335ZM27.2221 27.2906H15C8.26107 27.2906 2.77794 21.7344 2.77794 14.9056V2.5205H15C21.739 2.5205 27.2221 8.07711 27.2221 14.9056V27.2906Z")
                                    path(d="M15.0001 4.99731C9.60017 4.99731 5.22217 9.43369 5.22217 14.9056C5.22217 20.3775 9.60017 24.8139 15.0001 24.8139C20.4 24.8139 24.778 20.3775 24.778 14.9056C24.778 9.43369 20.4 4.99731 15.0001 4.99731ZM15.0001 22.3367C10.9491 22.3367 7.66673 19.0094 7.66673 14.9056C7.66673 10.8018 10.9491 7.47448 15.0001 7.47448C19.0499 7.47448 22.3334 10.8018 22.3334 14.9056C22.3334 19.0094 19.0499 22.3367 15.0001 22.3367Z")
                                    path(d="M15 9.9516C12.3002 9.9516 10.1112 12.1698 10.1112 14.9056C10.1112 17.6413 12.3002 19.8595 15 19.8595C17.6997 19.8595 19.8887 17.6413 19.8887 14.9056C19.8887 12.1698 17.6997 9.9516 15 9.9516ZM15 17.3827C13.6499 17.3827 12.5554 16.2736 12.5554 14.9056C12.5554 13.5375 13.6499 12.4284 15 12.4284C16.35 12.4284 17.4445 13.5375 17.4445 14.9056C17.4445 16.2736 16.35 17.3827 15 17.3827Z")
                                h3(class="mb-1 text-lg text-blue-800 font-semibold uppercase") Launchpad
                                p(class="text-gray-500") We provide high APY returns to users who help fund new projects around our dex.


            section(class="relative bg-blue-50 py-24 overflow-hidden")
                div(class="absolute inset-0")
                    svg(class="mt-20", width="705", height="798", viewbox="0 0 705 798", fill="none", xmlns="http://www.w3.org/2000/svg")
                        g(opacity="0.15")
                            path(d="M704.81 796.481L605.701 697.372C636.839 655.792 655.256 604.148 655.256 548.328C655.256 442.384 588.803 351.629 495.58 315.365L704.81 1.51892C705 1.13919 705 0.759458 704.81 0.569593C704.81 0.189864 704.43 0 704.051 0H-92.0507C-92.4304 0 -92.8101 0.189864 -92.8101 0.569593C-92.8101 0.949322 -93 1.13919 -92.8101 1.51892L85.8522 269.607L-92.8101 448.08C-93 448.27 -93 448.46 -93 448.839C-93 449.219 -93 449.409 -92.8101 449.599C-92.6203 449.789 -92.4304 449.789 -92.0507 449.789C-91.6709 449.789 -91.4811 449.789 -91.2912 449.599L86.9914 271.316L188.949 424.347C167.874 460.801 155.722 503.141 155.722 548.328C155.722 685.98 267.742 798 405.584 798C486.656 798 558.994 759.078 604.562 698.891L703.291 797.62C703.481 797.81 703.671 797.81 704.051 797.81C704.43 797.81 704.62 797.81 704.81 797.62C705 797.43 705 797.241 705 796.861C705 796.481 705 796.671 704.81 796.481ZM88.3205 269.797L157.431 200.687C157.621 200.497 157.621 200.307 157.621 199.927C157.621 199.547 157.621 199.358 157.431 199.168C157.051 198.788 156.482 198.788 156.102 199.168L87.1813 268.089L-90.3419 1.89864H702.342L493.871 314.605C466.341 304.163 436.722 298.467 405.774 298.467C313.879 298.467 233.567 348.211 190.088 422.258L88.3205 269.797ZM492.732 316.314L305.905 596.364L191.037 424.157C233.946 350.3 314.069 300.555 405.394 300.555C436.152 300.365 465.581 306.061 492.732 316.314ZM405.584 796.101C268.882 796.101 157.621 684.841 157.621 548.328C157.621 503.9 169.393 462.13 190.088 425.866L305.146 598.453C305.335 598.642 305.525 598.832 305.905 598.832C306.285 598.832 306.475 598.642 306.665 598.453L494.44 317.074C587.284 352.958 653.357 443.143 653.357 548.518C653.357 603.769 635.13 655.032 604.372 696.233L505.642 597.503C505.263 597.124 504.693 597.124 504.313 597.503C504.123 597.693 504.123 597.883 504.123 598.263C504.123 598.642 504.123 598.832 504.313 599.022L603.233 697.941C558.045 757.369 486.276 796.101 405.584 796.101Z", fill="#A0CDFA")
                            path(d="M82.055 572.251H-92.0507C-92.6203 572.251 -93 572.631 -93 573.201V747.306C-93 747.876 -92.6203 748.255 -92.0507 748.255H82.055C82.6246 748.255 83.0043 747.876 83.0043 747.306V573.201C83.0043 572.631 82.6246 572.251 82.055 572.251ZM81.1057 746.357H-91.1014V574.15H81.1057V746.357Z", fill="#A0CDFA")
                            path(d="M367.612 225.749C367.801 225.939 367.991 225.939 368.181 225.939C368.371 225.939 368.561 225.939 368.751 225.749L480.771 151.132C480.961 150.942 481.15 150.752 481.15 150.373C481.15 149.993 480.961 149.803 480.771 149.613L368.751 74.9964C368.371 74.8065 367.991 74.8065 367.612 74.9964L255.592 149.613C255.402 149.803 255.212 149.993 255.212 150.373C255.212 150.752 255.402 150.942 255.592 151.132L367.612 225.749ZM368.181 76.7052L478.492 150.183L368.181 223.66L257.87 150.183L368.181 76.7052Z", fill="#A0CDFA")
                div(class="relative container mx-auto px-4")
                    div(class="max-w-2xl mb-16 mx-auto text-center")
                        h2(class="mb-6 text-4xl font-bold text-blue-800") Empowering the AKITA INU  秋田犬 community.
                        p(class="mb-10 text-lg text-gray-500") We help onboarding our social network on Avalanche and provide our meme-token community a real usecase.
                    div(class="flex flex-wrap -mx-4 -mb-6")
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6")
                            img(class="w-full h-64 lg:h-72 object-cover", src="images/pexels-lena-heckendorn-5366108-cropped.png", alt="")
                            div(class="py-16 px-10 text-center bg-white")
                                h3(class="mb-4 text-lg text-blue-800 font-bold uppercase font-heading") Whitelisted Presale
                                p(class="text-base text-gray-500") Only AKITA INU hodlers will be whitelisted for the presale of the native Polarfox token PFX.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6")
                            img(class="w-full h-64 lg:h-72 object-cover", src="images/avax.png", alt="")
                            div(class="py-16 px-10 text-center bg-white")
                                h3(class="mb-4 text-lg text-blue-800 font-bold uppercase font-heading") AKITA-AVAX Bridge
                                p(class="text-base text-gray-500") We provide a wrapped version of AKITA on AVAX to reduce the high transaction-Fees of ETH.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6")
                            img(class="w-full h-64 lg:h-72 object-cover", src="images/IS8BO04U-400x400.jpg", alt="")
                            div(class="py-16 px-10 text-center bg-white")
                                h3(class="mb-4 text-lg text-blue-800 font-bold uppercase font-heading") Liquidity Pools
                                p(class="text-base text-gray-500") For 60 days our community will be able to liquidity mine gAKITA (AKITAs governance token).


            section(class="relative py-20 overflow-hidden")
                img(class="absolute top-0 left-0 w-full h-full object-cover", src="images/pexels-stein-egil-liland-3510717-cropped.jpg", alt="")
                div(class="relative container px-4 mx-auto z-10")
                    div(class="max-w-xl mx-auto lg:mx-0 py-12 pl-16 pr-32 bg-white clip-path-right-top")
                        h3(class="mb-4 text-2xl font-semibold text-blue-800") When moon?
                        p(class="mb-7 text-gray-500 text-base leading-relaxed") Good development takes time. Even if our Team is growing, it is high likely  you'll see a V1 of our DEX this summer.
                        a(class="flex items-center text-blue-800 text-sm font-bold uppercase hover:underline", href="#")
                            spam Kepp Eye on our timeline
                            span(class="ml-2")
                                svg(width="8", height="12", viewbox="0 0 8 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.875 0L0 1.875L4.125 6L0 10.125L1.875 12L7.875 6L1.875 0Z", fill="#3C74F9")


            section(class="relative py-24 bg-blue-50")
                div(class="container px-4 mx-auto")
                    div(class="relative flex flex-wrap items-center -mx-4")
                        div(class="relative w-full lg:w-1/2 px-4 mb-12 lg:mb-0")
                            div(class="relative lg:pl-10 max-w-lg")
                                h2(class="mb-8 text-4xl font-bold text-blue-800") lightning fast, efficient trades, community-driven development.
                                p(class="text-lg text-gray-500") Polarfox features a 100% fair distribution model. Swap assets while enjoying sub-second transaction times and transaction fees as low as a few cents.
                        div(class="w-full lg:w-1/2 px-4")
                            img(class="clip-path-left-top", src="images/pexels-lena-heckendorn-5366108-cropped.png", alt="")


            section(class="py-24 bg-blue-800")
                div(class="container mx-auto px-4 mb-10")
                    div(class="max-w-2xl mx-auto text-center")
                        a(class="inline-block mb-10 text-white text-lg font-semibold", href="#") POLARFOX DEX
                        ul(class="mb-8 flex flex-wrap space-x-10 items-center justify-center text-sm")
                            li(class="mb-2 md:mb-0")
                                a(class="text-white hover:text-blue-100", href="#") DEX
                            li(class="mb-2 md:mb-0")
                                a(class="text-white hover:text-blue-100", href="#") ABOUT
                            li(class="mb-2 md:mb-0")
                                a(class="text-white hover:text-blue-100", href="#") VISION
                            li(class="mb-2 md:mb-0")
                                a(class="text-white hover:text-blue-100", href="#") LAUNCHPAD
                        div(class="flex justify-center")
                            a(class="inline-flex items-center w-12 h-12 mr-4 bg-blue-900", href="#")
                                svg(class="mx-auto text-yellow-500 h-4 w-4", viewbox="0 0 10 18", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M6.63482 17.7272V9.766H9.35818L9.76676 6.66243H6.63482V4.68126C6.63482 3.78299 6.88809 3.17083 8.20285 3.17083L9.877 3.17015V0.394215C9.58748 0.357312 8.59366 0.272705 7.43696 0.272705C5.02158 0.272705 3.36797 1.71878 3.36797 4.37389V6.66243H0.636353V9.766H3.36797V17.7272H6.63482Z")
                            a(class="inline-flex items-center w-12 h-12 mr-4 bg-blue-900", href="#")
                                svg(class="mx-auto text-yellow-500 h-4 w-4", viewbox="0 0 19 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M18.8182 2.14598C18.1356 2.44844 17.4032 2.65356 16.6337 2.74513C17.4194 2.27462 18.0209 1.52831 18.3059 0.641769C17.5689 1.0775 16.7553 1.39389 15.8885 1.56541C15.1943 0.82489 14.207 0.363647 13.1118 0.363647C11.0108 0.363647 9.30725 2.06719 9.30725 4.16707C9.30725 4.46489 9.34086 4.75577 9.40577 5.03392C6.24437 4.87513 3.44107 3.3605 1.56486 1.05895C1.23689 1.61986 1.05031 2.27344 1.05031 2.9711C1.05031 4.29107 1.72246 5.45574 2.74228 6.13713C2.1188 6.11628 1.5324 5.94477 1.01904 5.65968V5.70719C1.01904 7.5498 2.33089 9.08762 4.07034 9.43762C3.75164 9.52337 3.41558 9.57089 3.06792 9.57089C2.82225 9.57089 2.58468 9.54656 2.35174 9.50019C2.83613 11.0125 4.24071 12.1123 5.90486 12.1424C4.60343 13.1623 2.96246 13.7683 1.18013 13.7683C0.873039 13.7683 0.570554 13.7498 0.272736 13.7162C1.95658 14.7974 3.95564 15.4279 6.10419 15.4279C13.1026 15.4279 16.9281 9.63116 16.9281 4.60398L16.9153 4.11147C17.6628 3.57834 18.3094 2.90853 18.8182 2.14598Z")
                            a(class="inline-flex items-center w-12 h-12 mr-4 bg-blue-900", href="#")
                                svg(class="mx-auto text-yellow-500 h-4 w-4", viewbox="0 0 18 18", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M9 0C4.0275 0 0 4.13211 0 9.22838C0 13.3065 2.5785 16.7648 6.15375 17.9841C6.60375 18.0709 6.76875 17.7853 6.76875 17.5403C6.76875 17.3212 6.76125 16.7405 6.7575 15.9712C4.254 16.5277 3.726 14.7332 3.726 14.7332C3.3165 13.6681 2.72475 13.3832 2.72475 13.3832C1.9095 12.8111 2.78775 12.8229 2.78775 12.8229C3.6915 12.887 4.16625 13.7737 4.16625 13.7737C4.96875 15.1847 6.273 14.777 6.7875 14.5414C6.8685 13.9443 7.10025 13.5381 7.3575 13.3073C5.35875 13.0764 3.258 12.2829 3.258 8.74709C3.258 7.73988 3.60675 6.91659 4.18425 6.27095C4.083 6.03774 3.77925 5.0994 4.263 3.82846C4.263 3.82846 5.01675 3.58116 6.738 4.77462C7.458 4.56958 8.223 4.46785 8.988 4.46315C9.753 4.46785 10.518 4.56958 11.238 4.77462C12.948 3.58116 13.7017 3.82846 13.7017 3.82846C14.1855 5.0994 13.8818 6.03774 13.7917 6.27095C14.3655 6.91659 14.7142 7.73988 14.7142 8.74709C14.7142 12.2923 12.6105 13.0725 10.608 13.2995C10.923 13.5765 11.2155 14.1423 11.2155 15.0071C11.2155 16.242 11.2043 17.2344 11.2043 17.5341C11.2043 17.7759 11.3617 18.0647 11.823 17.9723C15.4237 16.7609 18 13.3002 18 9.22838C18 4.13211 13.9703 0 9 0Z")
                            a(class="inline-flex items-center w-12 h-12 mr-4 bg-blue-900", href="#")
                                svg(class="mx-auto text-yellow-500 h-4 w-4", viewbox="0 0 10 18", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M6.63482 17.7272V9.766H9.35818L9.76676 6.66243H6.63482V4.68126C6.63482 3.78299 6.88809 3.17083 8.20285 3.17083L9.877 3.17015V0.394215C9.58748 0.357312 8.59366 0.272705 7.43696 0.272705C5.02158 0.272705 3.36797 1.71878 3.36797 4.37389V6.66243H0.636353V9.766H3.36797V17.7272H6.63482Z")
                            a(class="inline-flex items-center w-12 h-12 bg-blue-900", href="#")
                                svg(class="mx-auto text-yellow-500 h-4 w-4", viewbox="0 0 18 18", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M16.2 0H1.8C0.81 0 0 0.81 0 1.8V16.2C0 17.19 0.81 18 1.8 18H16.2C17.19 18 18 17.19 18 16.2V1.8C18 0.81 17.19 0 16.2 0ZM5.4 15.3H2.7V7.2H5.4V15.3ZM4.05 5.67C3.15 5.67 2.43 4.95 2.43 4.05C2.43 3.15 3.15 2.43 4.05 2.43C4.95 2.43 5.67 3.15 5.67 4.05C5.67 4.95 4.95 5.67 4.05 5.67ZM15.3 15.3H12.6V10.53C12.6 9.81004 11.97 9.18 11.25 9.18C10.53 9.18 9.9 9.81004 9.9 10.53V15.3H7.2V7.2H9.9V8.28C10.35 7.56 11.34 7.02 12.15 7.02C13.86 7.02 15.3 8.46 15.3 10.17V15.3Z")
                p(class="text-center text-sm text-blue-300 pt-8 px-4 border-t border-blue-500") All rights reserved © Polarfox Labs 2021
